/*PALETA DE COLORES GLOBAL
    https://colorhunt.co/palette/eeebddd8b6a4630000000000 
*/
:root {
  --primary: #630000;
  --on-primary: #eeebdd;

  --secondary: #F0E9D2;
  --on-secondary: #000000;

  --color-tertiary: #F3F1F5;

  --outline: #79747e;
  --surface: #fafcfd;
  --on-surface: #191c1d;
  --on-surface-variant: #49454f;

  --error-container: #f9dedc;
  --color-error: #990000;
  --on-error: #ffffff;

  --titulo: 35px;
  --subtitulo: 27px;
  --texto: 20px;
}
/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif; /*google fonts*/
}

/*Contenedores*/

.container {
  margin: auto;
  overflow: auto;
  padding: 0 10px;
  height: 60%;
}

/* Navbar */
#navbar{
  background-color: var( --primary);
}
#navbar .texto-logo{
  font-weight: bold;
}

#navbar a {
  color: var(--on-primary);
}

#navbar .logo {
  text-transform: uppercase;
  font-size: 25px;
  padding-top: 10px;
  font-weight: 400;
  float: right; /*der*/
}

#navbar ul {
  list-style: none;
  text-transform: uppercase;
}

#navbar ul li {
  float: left;/*izq*/
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover {
  background: var(--secondary);
  background-color: var(--secondary);
  color: var(--on-secondary);
  font-size: 18px;
  border-radius: 6px;  
}

/*Home*/
#home{
  background-color: var(--color-tertiary);
  padding: 3%;
}

.home-img {
  float: right; /*der*/
  width: 50%;
}

.home-img img {
  border-radius:150px;
  float: right; /*der*/


  height: 300px;
  width: 300px;
  margin: 15px 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}
.home-img  :hover {
  filter: saturate(180%); /*efecto Saturación*/

  height: 333px;
  width: 333px;
  margin-left: -50px;
}

.home-text {
  float: left; /*izq*/
  width: 50%;
}

.home-text h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 46px;
}

.home-text .title-one {
  font-size: var(--titulo);
  font-weight: 400;
  text-align: center;
}
.home-text .title-two {
  color:var(--primary);
  font-size: var(--subtitulo);
}

/*Evento*/

#event{
  background-color: var(--secondary);
  color: var(--on-secondary);
  padding: 50px ;
}

.event-video {
  float: left;
  width: 50%;
}

.event-description {
  float: right;
  width: 40%;
  justify-content: center;
}

.event-description .large {
  font-size: var(--texto);
}

/*Nossotros*/

#about{
  background-color: var(--color-tertiary);
  padding: 3%;
}

.about-img {
  float: right; /*der*/
  width: 50%;
}

.about-img img {
  width: 90%;
}

.about-img img {
  width:300px;
  height:300px;
  border-radius:150px;
  float: right; /*der*/
}

.about-text {
  float: left; /*izq*/
  width: 50%;
}

.about-text .title-two {
  color:var(--primary);
}
.about-text .large {
  padding-bottom: 10px;
  font-size: var(--texto);
}

/*Registro*/

#registration {
 background-color: var(--secondary);
 color: var(--on-secondary);
}

.registration-text {
  float: left; /*izq*/
  width: 45%;
  
}

.registration-form {
  float: right;
  width: 50%;
}

.registration-text .large {
  font-size: var(--texto);
}

/*form .form-group {
  margin-bottom: 1rem;
}*/

form .form-control {
  /* display: block;   padding: 0.375rem 0.7rem; */
  width: 100%;
  font-size: 1rem;
  line-height: 1.7;
  border: none;

}

 /* Boton Form */
 .btn {
  display: inline-block;
  font-size: mar15px;
  padding: 14px 23px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px;
  margin-top: 10px;
}

.btn-light {
  background: #841934;
  border: 1px solid #841934;
  color: #fff;
  width: 100%;
}

.btn-light:hover {
  background: #fff;
  border: 1px solid #841934;
  color: #841934;
}

/*Clima*/
#clima{
  background-color: var(--color-tertiary);
  margin: auto;
  overflow: auto;
  padding: 0 10px;
}
.container-clima ul{
  list-style: none;
  font-size: var(--texto);

}
.container-clima .datosClima{
  float: left;
  width: 50%;
}
.container-clima .imagen-temperatura{
float: right;
width: 50%;
width:300px;
height:300px;
border-radius:150px;
}
.container-clima .title-two{
  color:var(--primary);
  font-size: var(--subtitulo);
  text-align: center;
}
#tipoClima{
  text-align: center;
  font-size: var(--subtitulo);
  color: var(--primary);
}
/*Footer*/

#footer{
  background-color: var(--primary);
  color: var(--on-primary);
  text-align: center;
  padding: 2%;
}
#footer .container-footer{
  display: flex;
  justify-content:space-evenly;
  flex-direction: row;
}
#footer .container-footer .container-whatsapp{
  display: flex;
  flex-direction: column;
}
#footer .container-footer .container-whatsapp .nombre{
  padding-top: 10px;
}